@font-face {
  font-family: Nanami;
  src: url('public/assets/fonts/Nanami-Bld.otf');
  font-weight: 400;
}

.App {
  height: 600px;
  width: 350px;
  font-family: Nanami !important;
  font-weight: 400;
  background: linear-gradient(330deg, #59626c 0%, #000000 100%) 0% 0% no-repeat
    padding-box !important;
  color: white;
  padding: 24px;
  box-sizing: border-box;
  overflow: auto;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-bottom: 50px;
  img {
    height: 30px;
    margin-right: 20px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  #text {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    #plus {
      color: red;
    }
  }
}
