.App {
  height: 600px;
  width: 350px;
  font-family: Futura !important;
  font-weight: 400;
  background: linear-gradient(330deg, #59626c 0%, #000000 100%) 0% 0% no-repeat
    padding-box !important;
  color: white;
  padding: 24px;
  box-sizing: border-box;
  overflow: auto;
}
